<section data-ng-controller="HomeController">
    <h1 class="text-center">THANK YOU FOR CHECKING OUT LEASE LEMUR!</h1>
    <section>
        <p>
        	Welcome to the premiere commerical real estate lease tracking system on the block!
        </p>
        <dl>
            <dt>Code Repository</dt>
            <dd>
                It can be be found on <a target="_blank" href="https://github.com/bullcitydave/lease-lemur">Github.</a> The application was built off of a MEAN.js scaffolding.
            </dd>
            <dt>Here's what it can do right now!</dt>
            <dd>
                <li>Login in as user 'laura.lemur' and password 'wiredtri'. Or you can created a new email-based account. (The social account APIs are not currently configured).
                </li>
                <li>View a list of all existing Leases</li>
                <li>View an existing Lease</li>
                <li>Create a new Lease. One leasing period will be created by default, initially matching the duration of the Lease. Multiple leasing periods can be added.</li>
                <li>Edit Leases that you have created</li>
                <li>Deleting Leases that you have created</li>
                <li>Download a CSV of all Leases (basic fields only)</li>
            </dd>
            <dt>Here's what needs to be done!</dt>
            <dd>The infrastructure is up and running, but the heart of the application needs to be built:
                <li>The required reports. The basic CSV is just a proof-of-concept of a one-click solution.
                </li>
                <li>Validation of lease periods. There is no validation currently other than that overall start date must proceed end date, and the five initial fields are required.</li>
                <li>Limiting lease periods to begin and end on the 1st of the month.</li>
            </dd>
            <dt>Ideal functionality</dt>
            <dd>Creation of supporting entities. The top meny bar has links but the data models have not been set up.</dd>
              <li>Properties</li>
              <li>Landlords</li>
              <li>Clients</li>
            <dt>Ideal framework technologies not currently implemented</dt>
            <dd>
                Sass, Jade, more robust use of Angular, switch to relational database.
            </dd>
        </dl>
        <p class="alert alert-info">
            That's basically it. Please <a href="mailto:bullcitydave@gmail.com">Dave Seidman</a> with any questions or comments.
        </p>
        <br>
        <br>Enjoy!
        <br>The Lease Lemur Team
    </section>
</section>
