<section data-ng-controller="LeasesController">
    <div class="page-header">
        <h1 ng-click="testing()">New Lease</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="tenant">Tenant</label>
                    <div class="controls">
                        <input type="text" data-ng-model="tenant" id="tenant" class="form-control" placeholder="Tenant name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="property">Property</label>
                    <div class="controls">
                        <input type="text" data-ng-model="property" id="property" class="form-control" placeholder="The property address or other identifier" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="landlord">Landlord</label>
                    <div class="controls">
                        <input type="text" data-ng-model="landlord" id="landlord" class="form-control" placeholder="Landlord name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="startDate">Start Date</label>
                    <div class="controls">
                      <!-- TODO datepicker not cooperating
                      <input name="startDate" type="text" datepicker-popup=""
                                        is-open="startDate" close-text="Close"
                                        data-ng-model=startDate
                                      ``  novalidate="novalidate" class="form-control"/> -->
                      <input name="startDate" type="date" data-ng-model="startDate"
                       class="form-control"/>
                      <!-- <span class="input-group-btn">
                        <button type="button" ng-click="toggleDatePicker($event, 'startDate')"  class="btn btn-default">
                          <i class="fa fa-calendar"></i>
                        </button>
                      </span> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="endDate">End Date</label>
                    <div class="controls">
                      <input name="endDate" type="date" data-ng-model="endDate"
                       class="form-control"/>
                    </div>
                </div>

              <div class="panel panel-default" ng-init="leasePeriods = []", ng-show="startDate && endDate && (leasePeriods.length > 0 || validateLeaseStartEndDates()) ">
                      <div class="panel-heading"><h4>Lease Periods<a
                              ng-click="addLeasePeriod()"
                              class="with-icon no-text add"></a></h4></div>
                      <div class="panel-body">
                          <div ng-repeat="leasePeriod in leasePeriods"
                               class="item-group">


                              <div class="item-group-contents single-row">
                                  <div class="row">
                                    <div class="form-group col-xd-12 col-md-3">
                                        <label class="control-label" for="startDate">Start Date</label>
                                        <div class="controls">
                                          <input type="date" data-ng-model="leasePeriod.startDate"
                                           class="form-control"/>
                                        </div>
                                    </div>
                                      <div class="form-group col-xd-12 col-md-3">
                                          <label class="control-label" for="endDate">End Date</label>
                                          <div class="controls">
                                            <input type="date" data-ng-model="leasePeriod.endDate"
                                             class="form-control"/>
                                          </div>
                                      </div>
                                      <div class="form-group col-xd-12 col-md-3">
                                          <label class="control-label" for="monthlyRate">Monthly Rate</label>
                                          <div class="controls">
                                            <input type="number" class="currency" min="100" step="100" max="99999" data-ng-model="leasePeriod.monthlyRate"
                                             class="form-control"/>
                                          </div>
                                      </div>
                                      <div class="item-group-actions col-xd-12 col-md-3">
                                        <!-- <i ng-click="removeLeasePeriod(leasePeriod)"
                                              class="fa fa-times-circle"></i> -->
                                        <div class="btn btn-primary">
                                          			<i class="glyphicon glyphicon-plus" ng-click="addLeasePeriod()"></i>
                                    		</div>
                                        <div class="btn btn-primary" ng-click="testing()">
                                                <i class="glyphicon glyphicon-remove" ng-click="deleteLeasePeriod()"></i>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
              </fieldset>
				<div data-ng-show="error" class="text-danger">
					<strong>{{error}}</strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
