<section data-ng-controller="LeasesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Lease</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal"  data-ng-submit="update()" novalidate>
            <fieldset>
                    <div class="form-group">
                        <label class="control-label" for="tenant">Tenant</label>
                        <div class="controls">
                            <input type="text" data-ng-model="lease.tenant" id="tenant" class="form-control" placeholder="Tenant name" value={{lease.tenant}} required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="property">Property</label>
                        <div class="controls">
                            <input type="text" data-ng-model="lease.property" id="property" class="form-control" placeholder="The property address or other identifier" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="landlord">Landlord</label>
                        <div class="controls">
                            <input type="text" data-ng-model="lease.landlord" id="landlord" text="landlord" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <label class="control-label" for="startDate">Start Date</label>
                        <div class="controls">
                            <p class="input-group">
                              <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="startDateString" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="toggleDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                          <label class="control-label" for="endDate">End Date</label>
                          <div class="controls">
                            <p class="input-group">
                              <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="endDateString" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                          </div>
                        </div>
                    </div>
                    <div class="panel panel-default ">
                          <div class="panel-heading"><h4>Lease Periods<a
                                  ng-click="addLeasePeriod()"
                                  class="with-icon no-text add"></a></h4></div>
                          <div class="panel-body">
                              <div ng-repeat="leasePeriod in lease.leasePeriods"
                                   class="item-group">
                                  <div class="item-group-actions"><i
                                          ng-click="removeLeasePeriod(leasePeriod)"
                                          class="fa fa-times-circle"></i></div>
                                  <div class="item-group-contents single-row">
                                    <div class="row">
                                      <div class="form-group col-md-4">
                                        <label class="control-label" for="startDate">Start Date</label>
                                        <div class="controls">
                                            <p class="input-group">
                                              <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="leasePeriod.startDateString" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                              <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="toggleDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                              </span>
                                            </p>
                                        </div>
                                      </div>
                                      <div class="form-group col-md-4">
                                        <label class="control-label" for="endDate">End Date</label>
                                        <div class="controls">
                                          <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{dateFormat}}" ng-model="leasePeriod.endDateString" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default" ng-click="toggleDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                          </p>
                                        </div>
                                      </div>
                                      <div class="form-group col-md-4">
                                          <label class="control-label" for="monthlyRate">Monthly Rate</label>
                                          <div class="controls">
                                            <input type="number" class="currency" min="100" step="100" max="99999" data-ng-model="leasePeriod.monthlyRate"
                                             class="form-control"/>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong>{{error}}</strong>
				</div>
      </fieldset>
    </form>
  </div>
</section>
