<section data-ng-controller="LeasesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Leases</h1>
    </div>
    <table class="table">
      <tr>
        <th>Client</th>
        <th>Property</th>
        <th>Landlord</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      <tr data-ng-repeat="lease in leases", ng-click="go('leases/{{lease._id}}')">
        <td data-th="Client">{{lease.tenant}}</td>
        <td data-th="Property">{{lease.property}}</td>
        <td data-th="Landlord">{{lease.landlord}}</td>
        <td data-th="Start">{{lease.startDate | date: format : medium}}</td>
        <td data-th="End">{{lease.endDate | date: format : medium}}</td>
      </tr>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!leases.$resolved || leases.length">
    	No Leases yet, why don't you <a href="/#!/leases/create">create one</a>?
    </div>
</section>
