<section data-ng-controller="LeasesController" data-ng-init="findOne()">
	<div class="page-header">
		<div class="pull-right" data-ng-show="authentication.user._id == lease.user._id">
			<a class="btn btn-primary" href="/#!/leases/{{lease._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<div class="panel panel-default">
					<div class="panel-heading">
							<div class="row">
								<div class="col-xs-12">
									<h2>{{lease.tenant}}</h2>
								</div>
								<div class="col-xs-12">
									<h3><span>{{lease.property}}</span>
										<span>{{lease.landlord}}</span>
									</h3>
								</div>
							</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-xs-6 col-md-3">
								<h4>Start Date </h4>
								<span class="date"> {{lease.startDate | date: format : medium}}</span>
							</div>
							<div class="col-xs-6 col-md-3 col-md-push-1">
								<h4>End Date </h4>
								<span class="date"> {{lease.endDate | date: format : medium}}</span>
							</div>
					</div>
				</div>
			</div>
		<div class="panel panel-default">
					<div class="panel-heading">
						<h4>Lease Periods</h4>
					</div>
					<div class="panel-body">
						<table class="table">
				      <tr>
				        <th>Start Date</th>
				        <th>End Date</th>
				        <th>Monthly Rate</th>
				      </tr>
				      <tr data-ng-repeat="leasePeriod in lease.leasePeriods">
				        <td data-th="Start Date">{{leasePeriod.startDate | date: format : medium}}</td>
				        <td data-th="End Date">{{leasePeriod.startDate | date: format : medium}}</td>
				        <td data-th="Monthly Rate">${{leasePeriod.monthlyRate | number : 2}}</td>
				      </tr>
				    </table>
					</div>
		</div>

	</div>
	<small>
		<em class="text-muted">Posted on {{lease.created | date:'mediumDate'}} by {{lease.user.displayName}}</em>
	</small>
</section>
