/*CUSTOM!*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-family: Montserrat !important;
}

.panel-heading h2 {
    text-transform: uppercase;
    letter-spacing: 1.25px;
}
.panel-heading h3 {
    margin-top: 0;
}

.panel-heading h3 span+span::before {
    content: '(';
}
.panel-heading h3 span+span::after {
    content: ')';
}

h3 span+span {
    padding-left: 5px;
    font-style: italic;
		font-size: 60%;
		vertical-align: 20%;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
}

.panel-body .form-group {
	padding: 20px;
}

input[type="number].form-control {
    line-height: 34px;
}



.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

tr:not(:first-child):hover {
  background: #f0f0f0;
  cursor: pointer;
}
