<section data-ng-controller="TenantsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tenants</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="tenant in tenants" data-ng-href="#!/tenants/{{tenant._id}}" class="list-group-item">
            <small class="list-group-item-text">{{tenant.created | date:'medium'}} / {{tenant.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{tenant.name}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tenants.$resolved || tenants.length">
    	No Tenants yet, why don't you <a href="/#!/tenants/create">create one</a>?
    </div>
</section>